

.container1{
  float: left;
  vertical-align: top;
	width: 250px;
	height:250px;
	margin: 0 auto;
	position:relative;
	overflow:hidden;
}

.planet{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/planet.png) no-repeat center center;
}

.rocket{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/rocket.png) no-repeat 50px center;

	/* Chrome still requires the -webkit- prefix */
	-webkit-animation:orbit2 5s linear infinite;
	animation:orbit2 5s linear infinite;

	transition:background-position 0.8s;
}

.container:hover .rocket{
	background-position:80px center;
}

/* Define the keyframes of the animation */



@keyframes orbit2 {
	from {
		transform:rotate(0deg);

	-webkit-transform:rotate(0deg);}
	to {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
}

.mixed {
  margin-top:50px;
    width: 60px;
    height: 30px;
    background: red;
    position :absolute;
    -webkit-animation: mymove 10s infinite; /* Chrome, Safari, Opera */
    animation: mymove 10s infinite;
}
 @keyframes mymove  {
    0%   {left: 0px;    top: 200px;transform:rotate(0deg);}
    12%  {left: 0px;    top: 400px;    background: yellow; opacity: 0.5;transform:rotate(90deg); }
    25%  {left: 200px;  top: 400px;     background: green;opacity: 1;transform:rotate(180deg);}
    37%  {left: 200px;  top: 600px;     background: blue;opacity: 0.5;transform:rotate(270deg);}
    50%  {left: 0px;    top: 600px;    background: red;transform:rotate(360deg);}
    62%  {left: 0px;    top: 400px;    background: yellow; opacity: 0.5;transform:rotate(90deg); }
    75%  {left: 200px;  top: 400px;     background: green;opacity: 1;transform:rotate(180deg);}
    87%  {left: 200px;  top: 200px;     background: blue;opacity: 0.5;transform:rotate(270deg);}
    100% {left: 0px;    top: 200px;    background: red;transform:rotate(360deg);}
}

p{
	text-align:center;
	padding:20px;
	width:200px;
	margin: 0 auto;

	/* Set the border and border image properties */
	border:10px solid transparent;
	border-image:url(http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/border.png) 30 30 round;
}

.space{
	/* Pass a comma separated list of backgrounds: */
	background:url('http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/rocket_big.png') no-repeat center 70px, url('http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/space.jpg') no-repeat bottom center;
	width:200px;
	height:200px;
	margin: 0 auto;
	border-radius:3px;
	/* Animate the positions of both of the backgrounds */
	transition:background-position 1s;
}

.space:hover{
	/* The same goes for properties like background-position and repeat */
	background-position:100px 10px, top left;
}
